html{
    scroll-behavior: smooth;
}


body {
    max-width: 70ch;
    margin: 40px auto;
    padding: 0 2vw;
    font: 1.2rem/1.5 Arial;
    color: #444
}

h1,h2,h3 { line-height: 1.2 }

/**
 * UTILITAIRES
 */

.tc {text-align: center;}

/**
 * COMPOSANTS
 */

.lignes {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap: .5rem;

    margin: 2em 0;
}

.lignes__ligne {
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 60px;
    min-height: 40px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}
